@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

@media(max-width:412px){
header div.logo{
height:10vh;
}
header div.logo h1{
font-size:30px;
}
header div.logo img{
width:30px;
height:40px;
}
}
